@inherits LayoutComponentBase
@using FundedEdge.Web.Components.Account.Shared

<div class="auth-viewport">
    <AuthVisualPanel />
    <div class="auth-form-pane">
        <div class="auth-lang"><CultureSelector /></div>
        @Body
    </div>
</div>
